body {
font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Noto Sans TC', sans-serif;
}
.expedu_icon{
color: brown;
}
.expedu_icon:hover{
    background-color: rgb(248, 243, 243);
    color: rgb(41, 145, 236);
}
:root {
     --bs-primary: brown;
     --bs-primary-rgb: 165, 42, 42;
     --bs-secondary: blue;
     --bs-secondary-rgb: 41, 145, 236;
}
.expedu_icon:hover {
     color: var(--bs-secondary);
}

a {
     color:var(--bs-primary);
}

.social-icons .social-icons:hover {
    background-color: var(--bs-secondary);
}